body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

.btn-voter {
    background-color: #0dc8bc !important;
    border-radius: 10%;
    outline-color: none;
}

.btn-home {
    background-color: #0bd62d !important;
    border-radius: 10%;
    outline-color: none;
}

.btn-voter:focus,
.btn-voter:active {
    outline: white !important;
}